In [2]:
import os
import tempfile

import pandas as pd
import numpy as np
import scanpy as sc
import torch
import scvi

/opt/anaconda3/envs/scvi-env/lib/python3.9/site-packages/scvi/_settings.py:63: UserWarning: Since v1.0.0, scvi-tools no longer uses a random seed by default. Run `scvi.settings.seed = 0` to reproduce results from previous versions.
  self.seed = seed
/opt/anaconda3/envs/scvi-env/lib/python3.9/site-packages/scvi/_settings.py:70: UserWarning: Setting `dl_pin_memory_gpu_training` is deprecated in v1.0 and will be removed in v1.1. Please pass in `pin_memory` to the data loaders instead.
  self.dl_pin_memory_gpu_training = (
/opt/anaconda3/envs/scvi-env/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
scvi.settings.seed = 0
print("Last run with scvi-tools version:", scvi.__version__)

Global seed set to 0

Last run with scvi-tools version: 1.0.4

In [5]:
data = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 40]
})

In [9]:
df = pd.DataFrame({
    'category': ['cat1', 'cat2', 'cat3', 'cat4'],
    'value1': [10, 20, 30, 40],
    'value2': [15, 25, 35, 45],
    'value3': [5, 15, 25, 35]
})
df

  category  value1  value2  value3
0     cat1      10      15       5
1     cat2      20      25      15
2     cat3      30      35      25
3     cat4      40      45      35

In [12]:
melted_df = pd.melt(df, id_vars=['category'], value_vars=['value1', 'value2', 'value3'], var_name='variable', value_name='value')
melted_df

   category variable  value
0      cat1   value1     10
1      cat2   value1     20
2      cat3   value1     30
3      cat4   value1     40
4      cat1   value2     15
5      cat2   value2     25
6      cat3   value2     35
7      cat4   value2     45
8      cat1   value3      5
9      cat2   value3     15
10     cat3   value3     25
11     cat4   value3     35

In [4]:
current_path = os.getcwd()
print(current_path)
file_list = os.listdir(current_path)
print(file_list)

/Users/apple/Desktop/KB/Codes
['pbmc3k_filtered_gene_bc_matrices.tar.gz', '.DS_Store', 'pkg_install_test.ipynb', 'data']